/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f3e5f5; /* Roxo claro de fundo */
}

/* Container para centralizar o conteúdo */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilo do cabeçalho */
header {
    background: #6a1b9a; /* Roxo escuro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Estilo da seção principal */
main {
    padding: 20px 0;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-bottom: 4px solid #6a1b9a; /* Roxo escuro */
}

.card h2 {
    color: #6a1b9a; /* Roxo escuro */
    margin: 10px 0;
}

.card p {
    color: #555;
}

/* Estilo do rodapé */
footer {
    background: #6a1b9a; /* Roxo escuro */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    font-size: 0.9em;
}
